@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --black: #000;
  --header: #243146;
  --btn-primary: #0057d1;
  --btn-disabled: #c7c7c7;
  --border: #e0e0e0;

  --primary: #1a1a1a;
  --secondary: #666666;

  --trip-status: #d7e3fe;
  --trip-status-text: #24428a;
  --delayed: #d7e3fe;
  --delayed-text: #cc3333;
  --on-time: #c2faea;
  --on-time-text: #008f66;
  --progress: #00c28b;
  --other: #ffecdb;
  --other-status-text: #d97f30;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
